.nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    border-radius: 0px;
    background: #ffffff;
    filter: drop-shadow( 0px 2px 10px  #7442ff63);
}
.nav_container img{
    height: 40px;
}
.time{
    background-color: #acfb2c;
    padding: 5px 10px 5px 10px;
    font-weight: 300;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 150px;
    justify-content: space-between;
}
.live{
    background-color: #1818a9;
    text-align: center;
    color: #fff;
    margin: 20px 0px 20px 0px;
    height: 30px;
    display: grid;
    font-size: 14px;
    place-items: center;
}
.links_container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.links_container a{
    text-decoration: none;
    background: linear-gradient(-45deg,#aa9a437e ,#ffd9007e);
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px;
    width: 250px;
    text-align: center;
}
.analytics{
    padding: 20px 20px 20px 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.data_card{
    border-radius: 5px;
    width: 270px;
    padding: 10px 15px 10px 15px;
    background-color: #ffffff;
    filter: drop-shadow( 0px 6px 6px  #93aae463);
    margin: 10px;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.26);
}
.data_card div{
    font-weight: 300;
    font-size: 15px;
    width: 80%;
    
}
.data_card p{
    color: #1818a9;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .nav_container{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin-top:10px;
    }
    .time{
        margin-top: 10px;
    }
    .links_container a{
        text-decoration: none;
        background: linear-gradient(-45deg,#aa9a437e ,#ffd9007e);
        padding: 0px 10px 0px 10px;
        border-radius: 5px;
        font-size: 8px;
        margin: 10px;
        width: 120px;
        text-align: center;
    }
}


/* footer */

.footer{
    
    background-color: #1818a9;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-size: 14px;
}
.footer a{
    text-decoration: none;
    color: aliceblue;   
     
}